html {
  font-size: 62.5%;
}
.vj_bannerimage {
  position: relative;
  height: 75vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.vj_bannerimage__text {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 4.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vj_bannerimage__text strong {
  font-weight: 600;
}
.vj_video {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0 /* override space between inline child elements */;
}
.vj_video__slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: initial /* reset font-size for child elements */;
  cursor: pointer;
}
.vj_video__slide--text {
  z-index: 5;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 4.6rem;
}
.vj_video__slide--text strong {
  font-weight: 600;
}
.vj_video__slide--text i {
  font-weight: 100;
  font-size: 6rem;
  margin-top: 30px;
}
.vj_video__slide--player {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vj_video__controls--leftnav {
  position: absolute;
  z-index: 9;
  font-size: 6rem;
  font-weight: 1001;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0, -50%);
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.vj_video__controls--rightnav {
  position: absolute;
  z-index: 9;
  font-size: 6rem;
  font-weight: 1001;
  position: absolute;
  top: 50%;
  left: auto;
  transform: translate(0, -50%);
  right: 3%;
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
.vj_collection {
  text-align: center;
}
.vj_collection h1 {
  margin: 120px 0 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
}
.vj_collection h1 strong {
  font-weight: 600;
}
.vj_collection .vj_products {
  max-width: 1180px;
}
.vj_collection .vj_products__thumbnail {
  width: 33%;
}
.vj_collection__more {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
  margin-bottom: 120px;
}
.vj_banner {
  position: relative;
  height: 75vh;
}
.vj_banner.with-image {
  background-position: center center !important;
  background-size: cover !important;
}
.vj_banner__content {
  position: absolute;
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #000;
  padding: 60px 30px;
}
.vj_banner__content--header {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
}
.vj_banner__content--copy {
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #fff;
}
.vj_banner__content--link {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #fff;
  padding: 15px 20px;
}
.vj_summary {
  position: relative;
  padding: 120px 0;
}
.vj_summary.with-image {
  background-position: center center !important;
  background-size: cover !important;
}
.vj_summary__content {
  width: 90%;
  max-width: 790px;
  margin: auto;
  text-align: center;
}
.vj_summary__content h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
}
.vj_summary__content--link {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
}
.vj_icons {
  padding: 120px 0;
  text-align: center;
}
.vj_icons__header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
  margin-bottom: 60px;
}
.vj_icons__header strong {
  font-weight: 600;
}
.vj_icons .vj_icon {
  display: inline-block;
  height: 200px;
  margin: 0 30px;
}
.vj_icons .vj_icon img {
  width: auto;
  height: 100%;
}
.vj_icons .vj_icon p {
  position: relative;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.vj_icons .vj_icon p:before {
  content: '';
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.vj_featured-services .vj_featured-service__content {
  position: relative;
  width: 50%;
  float: left;
  text-align: center;
  padding-bottom: 50%;
}
.vj_featured-services .vj_featured-service__content--body {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vj_featured-services .vj_featured-service__content--body h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
}
.vj_featured-services .vj_featured-service__content--body p {
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_featured-services .vj_featured-service__content--body a {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
}
.vj_featured-services .vj_featured-service__image {
  background-size: cover !important;
  width: 50%;
  float: left;
  padding-bottom: 50%;
}
.vj_featured-services .vj_featured-service .clear {
  clear: both;
}
.vj_featured-services .vj_featured-service:nth-of-type(2n) .vj_featured-service__content,
.vj_featured-services .vj_featured-service:nth-of-type(2n) .vj_featured-service__image {
  float: right;
}
.vj_team {
  padding: 120px 0;
  text-align: center;
}
.vj_team__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.vj_team__title strong {
  font-weight: 600;
}
.vj_team__member {
  display: inline-block;
  width: 45%;
  max-width: 540px;
  vertical-align: top;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
  text-align: left;
}
.vj_team__member--title {
  font-weight: 600;
}
.vj_team__member--name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
.vj_contact {
  background-size: cover !important;
  padding: 120px 0;
}
.vj_contact__section {
  width: 40%;
  margin: 0 0 30px auto;
}
.vj_contact__section:first-of-type {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 3rem;
  line-height: 3.45rem;
}
.vj_contact__section--title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
.vj_contact__section--copy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_service {
  width: 90%;
  max-width: 950px;
  margin: 0 auto 60px;
}
.vj_service__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
}
.vj_service__title strong {
  font-weight: 600;
}
.vj_service__copy {
  margin: 30px 0;
  column-count: 2;
  column-gap: 30px;
}
.vj_service__copy p {
  display: inline-block;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_service__iframewrap {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.vj_service__iframewrap iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.vj_service__videocaption {
  margin: 30px 0 60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_service__images img {
  width: 49%;
  height: auto;
  float: left;
}
.vj_service__images img:first-of-type {
  margin-right: 2%;
}
.vj_service__images img .clear {
  clear: both;
}
.vj_service__fullimage img {
  width: 100%;
  height: auto;
}
.vj_offerings {
  width: 90%;
  max-width: 950px;
  margin: 60px auto;
  text-align: center;
}
.vj_offerings__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
}
.vj_offerings__title strong {
  font-weight: 600;
}
.vj_offerings__subheader {
  margin: 30px auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_offerings__list {
  columns: 3;
  column-gap: 15px;
}
.vj_offerings__list li {
  display: inline-block;
  background: #eee;
  padding: 30px 15px;
  margin-bottom: 15px;
  vertical-align: top;
}
.vj_offerings__list li img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.vj_offerings__list li .vj_item--count {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #fff;
}
.vj_offerings__list li .vj_item--count:before {
  content: '';
  width: 30px;
  height: 5px;
  background: #fff;
  top: 0;
  left: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.vj_offerings__list li .vj_item--title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
.vj_offerings__list li .vj_item--copy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_blogpreview {
  width: 90%;
  max-width: 980px;
  margin: 30px auto 0;
}
.vj_blogpreview__image {
  float: left;
  width: 60%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.vj_blogpreview__text {
  float: left;
  width: 40%;
  position: relative;
  padding-bottom: 50%;
}
.vj_blogpreview__text--copy {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-5%, -50%);
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
}
.vj_blogpreview__text--copy h1 {
  width: 60%;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
}
.vj_blogpreview__text--copy p {
  margin: 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
.vj_blogpreview__text--copy a {
  display: block;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.vj_blogpreview:nth-of-type(odd) .vj_blogpreview__image {
  float: right;
}
.vj_blogpreview:nth-of-type(odd) .vj_blogpreview__text {
  float: right;
  text-align: right;
  left: 5% !important;
}
.vj_blogpreview:nth-of-type(odd) .vj_blogpreview__text h1 {
  margin-left: auto;
}
.vj_blogpreview .clear {
  clear: both;
}
.vj_products {
  width: 90%;
  margin: auto;
}
.vj_products a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}
.vj_products__thumbnail {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 1%;
  box-sizing: border-box;
  text-align: left;
}
.vj_products__images--thumbnail,
.vj_products__images--rollover {
  width: 100%;
  padding-bottom: 133%;
  background-position: center center;
  background-size: cover;
}
.vj_products__images--rollover {
  display: none;
}
.vj_products__images:hover .vj_products__images--thumbnail {
  display: none;
}
.vj_products__images:hover .vj_products__images--rollover {
  display: block;
}
.vj_products__noimages {
  width: 100%;
  padding-bottom: 133%;
  background: #eee;
}
.vj_products__title {
  margin-top: 15px;
}
.vj_header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
.vj_header>div {
  vertical-align: middle;
}
.vj_header__logo {
  display: inline-block;
  height: 65px;
  transition: 0.2s height ease-in-out;
}
.vj_header__logo--image {
  height: 100%;
  width: auto;
}
.vj_header__menu {
  display: inline-block;
}
.vj_header__menu--navigation li {
  display: inline;
  margin: 0 0 0 20px;
}
.vj_header__menu--navigation li a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.vj_header.minimize {
  background: rgba(255,255,255,0.98);
}
.vj_header.minimize .vj_header__logo {
  height: 35px;
}
.vj_header.minimize .vj_header__menu--navigation li a {
  color: #000 !important;
}
.vj_footer {
  padding: 60px 0;
  background: #000;
  color: #fff;
  text-align: center;
}
.vj_footer__menu {
  width: 90%;
  margin: auto;
}
.vj_footer__menu--navigation {
  column-count: 4;
  column-gap: 50px;
}
.vj_footer__menu--navigation a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.vj_footer__paymenticons {
  margin: 30px 0;
}
.vj_footer__paymenticons li {
  display: inline;
  font-size: 3rem;
  margin: 2.5px;
}
.vj_footer__credits {
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100 !important;
  text-transform: initial;
  line-height: 1.38rem;
}
body.home .vj_summary__content--copy {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 3rem;
  line-height: 3.45rem;
}
body.page-template-template-about .vj_summary__content--copy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: #000;
  font-size: 3rem;
  line-height: 3.45rem;
}
body.page-template-template-about .vj_summary__content--copy strong {
  font-weight: 600;
}
body.page-template-template-services .vj_bannerimage {
  margin-bottom: 60px;
}
body.page-template-template-services .vj_banner {
  margin-top: 60px;
}
body.page-template-template-sustainability .vj_bannerimage {
  text-align: center;
}
body.page-template-template-sustainability .vj_bannerimage h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 4.6rem;
}
body.page-template-template-sustainability .vj_bannerimage h1 span {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-size: 3rem;
  line-height: 3.45rem;
  text-transform: initial !important;
}
body.page-template-template-sustainability .vj_footer {
  margin-top: 30px;
}
body.post-type-archive-product .vj_products__thumbnail {
  width: 24%;
}
body.post-type-archive-product .woocommerce-breadcrumb {
  width: 88.5%;
  margin: 120px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
body.post-type-archive-product .woocommerce-breadcrumb a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 200;
}
body.post-type-archive-product .woocommerce-notices-wrapper {
  width: 88.5%;
  margin: 30px auto;
}
body.post-type-archive-product .woocommerce-pagination {
  margin: 60px 0 120px;
  text-align: center;
}
body.post-type-archive-product .woocommerce-pagination .page-numbers li {
  display: inline-block;
  margin: 0 30px 0 0;
}
body.post-type-archive-product .woocommerce-pagination .page-numbers li a,
body.post-type-archive-product .woocommerce-pagination .page-numbers li .current {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
body.post-type-archive-product .prdctfltr_wc {
  width: 88.5%;
  margin: 0 auto 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
body.post-type-archive-product .prdctfltr_woocommerce_filter {
  color: #000 !important;
}
body.single .vj_header__menu--navigation li a {
  color: #000 !important;
}
body.single .vj_single {
  width: 90%;
  max-width: 640px;
  margin: 120px auto;
}
body.single .vj_single h1 {
  display: block;
  width: 100%;
  max-width: 75%;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 3rem;
  line-height: 3.45rem;
  font-size: 5rem !important;
  line-height: 5.75rem !important;
  text-align: center;
}
body.single .vj_single__publishdate {
  margin: 30px 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.single .vj_single p {
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.single .vj_single p img {
  width: 100%;
  height: auto;
}
body.single .vj_single p.iframe-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
body.single .vj_single p.iframe-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
body.single-product {
  padding-top: 85px;
}
body.single-product main .woocommerce-breadcrumb {
  width: 90%;
  margin: 60px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
body.single-product main .woocommerce-breadcrumb a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 200;
}
body.single-product main .woocommerce-notices-wrapper {
  margin: 30px auto;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 200;
}
body.single-product main .woocommerce-notices-wrapper a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
body.single-product main .product {
  width: 90%;
  margin: auto;
}
body.single-product main .product .vj_product__images {
  float: left;
  width: 60%;
}
body.single-product main .product .vj_product__images--navigation {
  float: left;
  width: 15%;
  border-right: 3px solid #fff;
  box-sizing: border-box;
}
body.single-product main .product .vj_product__images--navigation img {
  width: 100%;
  margin-bottom: 1px;
}
body.single-product main .product .vj_product__images--navigation img:hover {
  cursor: pointer;
}
body.single-product main .product .vj_product__images--main {
  float: left;
  width: 85%;
}
body.single-product main .product .vj_product__images .clear {
  clear: both;
}
body.single-product main .product .vj_product__summary {
  float: left;
  width: 37%;
  padding-left: 3%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.single-product main .product .vj_product__summary h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 4rem;
  color: #000;
}
body.single-product main .product .vj_product__summary .price {
  margin: 30px 0;
}
body.single-product main .product .vj_product__summary .input-text.qty {
  border: 0;
  border-bottom: 2px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
}
body.single-product main .product .vj_product__summary .input-text.qty:focus {
  outline: none;
}
body.single-product main .product .vj_product__summary .woocommerce-product-details__short-description {
  margin-bottom: 30px;
}
body.single-product main .product .vj_product__summary .single_add_to_cart_button {
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #000;
  cursor: pointer;
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
  margin-left: 0;
  margin-right: auto;
}
body.single-product main .product .vj_product__summary .product_meta {
  margin-top: 30px;
}
body.single-product main .product .vj_product__summary .product_meta a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}
body.single-product main .product .vj_product .clear {
  clear: both;
}
body.single-product main .product .vj_products {
  width: 100%;
  margin: 60px 0 120px;
  text-align: center;
}
body.single-product main .product .vj_products h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
  margin-bottom: 30px;
}
body.single-product main .product .vj_products__thumbnail {
  width: 24%;
}
body.page-template-template-contact .vj_contact {
  background-size: cover !important;
  padding: 120px 0;
}
body.page-template-template-contact .vj_contact__section {
  width: 40%;
  margin: 0 auto 30px;
  text-align: center;
}
body.page-template-template-contact .vj_contact__section:first-of-type {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 3rem;
  line-height: 3.45rem;
}
body.page-template-template-contact .vj_contact__section--title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
body.page-template-template-contact .vj_contact__section--copy {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-cart {
  padding-top: 85px;
}
body.woocommerce-cart .vj_header__menu--navigation li a {
  color: #000 !important;
}
body.woocommerce-cart main article header h1 {
  margin: 30px 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
}
body.woocommerce-cart main article header .post-edit-link {
  display: none;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table {
  margin: auto;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table th {
  vertical-align: top;
  text-align: left;
  padding: 30px 60px;
  font-weight: 600;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td {
  vertical-align: top;
  text-align: left;
  padding: 30px 60px;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td img {
  height: 100px;
  width: auto;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.product-remove a {
  font-size: 3rem !important;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.product-quantity input {
  border: 0;
  border-bottom: 2px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.product-quantity input:focus {
  outline: none;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions .coupon {
  text-align: center;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions .coupon label {
  display: none;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions .coupon #coupon_code {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-bottom: 5px;
  margin-right: 5px;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions .coupon #coupon_code:focus {
  outline: none;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions .coupon button {
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  background: #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 10px 15px;
  border: 0;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions>.button {
  margin: 30px auto;
  display: block;
  background: #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 5px 15px;
  border: 0;
}
body.woocommerce-cart main article .entry-content .woocommerce-cart-form table td.actions>.button[disabled] {
  background: #666;
}
body.woocommerce-cart main article .cart-collaterals {
  text-align: center;
  margin-bottom: 120px;
}
body.woocommerce-cart main article .cart-collaterals .cart_totals h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
}
body.woocommerce-cart main article .cart-collaterals table {
  margin: 30px auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-cart main article .cart-collaterals .wc-proceed-to-checkout a {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
}
body.woocommerce-checkout {
  padding-top: 85px;
}
body.woocommerce-checkout .vj_header__menu--navigation li a {
  color: #000 !important;
}
body.woocommerce-checkout main {
  text-align: center;
}
body.woocommerce-checkout main article header h1 {
  padding-top: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
  font-size: 4rem;
}
body.woocommerce-checkout main article header .post-edit-link {
  display: none;
}
body.woocommerce-checkout main article .woocommerce-notices-wrapper {
  margin: 30px auto;
}
body.woocommerce-checkout main article .woocommerce-info {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-info a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
  font-weight: 600;
}
body.woocommerce-checkout main article .woocommerce-form-coupon {
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-form-coupon>p {
  margin-bottom: 15px;
}
body.woocommerce-checkout main article .woocommerce-form-coupon .form-row {
  display: inline-block;
}
body.woocommerce-checkout main article .woocommerce-form-coupon .form-row #coupon_code {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-bottom: 5px;
  margin-right: 5px;
}
body.woocommerce-checkout main article .woocommerce-form-coupon .form-row #coupon_code:focus {
  outline: none;
}
body.woocommerce-checkout main article .woocommerce-form-coupon .form-row button {
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  background: #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 10px 15px;
  border: 0;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row {
  width: 90%;
  max-width: 300px;
  margin: auto;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row label {
  margin: 30px 0 15px;
  display: block;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-transform: initial !important;
  padding-bottom: 5px;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row input:focus {
  outline: none;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row.address-field {
  margin-bottom: 15px;
}
body.woocommerce-checkout main article .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row:last-of-type {
  margin-bottom: 0;
}
body.woocommerce-checkout main article .woocommerce-additional-fields {
  margin: 30px auto 0;
  width: 90%;
  max-width: 300px;
}
body.woocommerce-checkout main article .woocommerce-additional-fields h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-additional-fields label {
  margin: 30px 0 15px;
  display: block;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce-additional-fields .woocommerce-input-wrapper {
  width: 100%;
}
body.woocommerce-checkout main article .woocommerce-additional-fields .woocommerce-input-wrapper textarea {
  width: 100%;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
  border: 0;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
body.woocommerce-checkout main article .woocommerce #order_review_heading {
  margin: 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000;
}
body.woocommerce-checkout main article .woocommerce table {
  margin: 0 auto 30px;
}
body.woocommerce-checkout main article .woocommerce table tr {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: #000;
  text-align: left;
}
body.woocommerce-checkout main article .woocommerce table th {
  font-weight: 600;
}
body.woocommerce-checkout main article .woocommerce table td {
  padding: 15px 0;
}
body.woocommerce-checkout main article .woocommerce table td:first-of-type {
  padding-right: 30px;
}
body.woocommerce-checkout main article .woocommerce table td:last-of-type {
  text-align: right;
}
body.woocommerce-checkout main article .woocommerce table tfoot td {
  padding-right: 0 !important;
  text-align: right;
}
body.woocommerce-checkout main article .woocommerce-checkout-payment {
  margin-bottom: 120px;
}
body.woocommerce-checkout main article .woocommerce-checkout-payment .woocommerce-privacy-policy-text {
  display: none;
}
body.woocommerce-checkout main article .woocommerce-checkout-payment #place_order {
  border: 0;
  outline: 0;
  background: none;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 30px auto 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background: #000;
  padding: 15px 20px;
}
