@require 'components/all'
@require 'header'
@require 'footer'
@require 'front-page'
@require 'about'
@require 'services'
@require 'sustainability'
@require 'collection'
@require 'single'
@require 'single-product'
@require 'contact'
@require 'cart'
@require 'checkout'