body
	&.post-type-archive-product,
	&.tax-product_cat,
	&.archive
		.vj_productgrid
			&--desktop
				width 88.5%
				margin $margin1 auto
				
				span
					interactive($black,1.2rem)
					text-transform uppercase
				
				button
					resetButtonStyles($black)
					interactive($black,1.2rem)
					text-transform uppercase
					font-weight 600
					margin 0 0 0 $margin1
					padding-bottom 5px
					
					&.active
						border-bottom 1px solid $black
			
			&--mobile
				display none
				
		.vj_products
			&__thumbnail
				width 24%
			
			&.grid--six
				.vj_products__thumbnail
					width 16%
					
				.vj_products__title
					font-size 1rem
					line-height 1.6rem
			
			&.grid--three
				.vj_products__thumbnail
					width 32%
					
				.vj_products__title
					font-size 1rem
					line-height 1.6rem
			
			&.grid--two
				.vj_products__thumbnail
					width 49%
			
			&.grid--one
				.vj_products__thumbnail
					width 100%
		
		.woocommerce
			&-breadcrumb
				width 88.5%
				margin $margin2 auto 0
				interactive($black,1.2rem)
				font-weight 600
				
				a
					interactive($black,1.2rem)
					font-weight 200
			
			&-notices-wrapper
				width 88.5%
				margin $margin1 auto
				
			&-pagination
				margin $margin2 0
				text-align center
				
				.page-numbers
					li
						display inline-block
						margin 0 $margin1 0 0
						
						a,
						.current
							interactive($black,1.6rem)
		
		.prdctfltr
			&_wc
				width 88.5%
				margin 0 auto
			
			&_woocommerce_filter
				color $black !important
						
			&_filter_title
				margin-bottom 0
				interactive($black,1.6rem)
			
			&_filter
				width initial !important
				interactive($black,1.2rem)
				margin-right $margin2
				float none !important
				display inline-block !important
			
			&_pa_product-gsm
				margin-top 30px
				display block !important
				width 33% !important

			&_pa_collection
				.prdctfltr_add_scroll
					column-count 3
			
			&_ft_none
				display none

@media all and (max-width:$mobile)
	body
		&.post-type-archive-product
			.vj_productgrid
				&--mobile
					display block
					width 88.5%
					margin $margin1 auto
					
					span
						interactive($black,1.2rem)
						text-transform uppercase
					
					button
						resetButtonStyles($black)
						interactive($black,1.2rem)
						text-transform uppercase
						font-weight 600
						margin 0 0 0 $margin1
						padding-bottom 5px
						
						&.active
							border-bottom 1px solid $black
				
				&--desktop
					display none
				
			.vj_products
				&__thumbnail
					width 49%
				
				&__title
					margin-bottom $margin1
			
			// .prdctfltr
			// 	label
			// 		font-size 80% !important
					
			// 	&_filter
			// 		width 50% !important
					
			// 	&_pa_product-gsm
			// 		width 100% !important
				
			// 	&_pa_collection
			// 		width 100% !important
					
			// 		.prdctfltr_add_scroll
			// 			column-count 3
									
			.woocommerce
				&-pagination			
					.page-numbers
						li
							display inline-block
							margin 0 15px 0 0