body
	&.post-type-archive-product
		.vj_products
			&__thumbnail
				width 24%
		
		.woocommerce
			&-breadcrumb
				width 88.5%
				margin $margin4 auto 0
				interactive($black,1.2rem)
				font-weight 600
				
				a
					interactive($black,1.2rem)
					font-weight 200
			
			&-notices-wrapper
				width 88.5%
				margin $margin1 auto
				
			&-pagination
				margin $margin2 0 $margin4
				text-align center
				
				.page-numbers
					li
						display inline-block
						margin 0 $margin1 0 0
						
						a,
						.current
							interactive($black,1.6rem)
		
		.prdctfltr
			&_wc
				width 88.5%
				margin 0 auto $margin1
				interactive($black,1.6rem)
			
			&_woocommerce_filter
				color $black !important

@media all and (max-width:$mobile)
	body
		&.post-type-archive-product
			.vj_products
				&__thumbnail
					width 48%
				
				&__title
					margin-bottom $margin1
			
			.woocommerce
				&-pagination			
					.page-numbers
						li
							display inline-block
							margin 0 15px 0 0