body
	&.page-template-template-contact
		.vj_contact
			background-size cover !important
			padding $margin4 0

			&__section
				width 40%
				margin 0 auto $margin1
				text-align center
				
				&:first-of-type
					bannerSerif($black)
				
				&--title
					subHeader($black)
				
				&--copy
					bodyCopy($black)