body
	&.page-template-template-contact
		.vj_header		
			&__wrapper
				position relative
								
				form
					input					
						&[type="submit"]
							interactive($blue,1.4rem)
							background $white
			
			&.minimize
				.vj_header__wrapper
					form
						input
							&[type="submit"]
								interactive($white,1.4rem)
								background $blue
							
		.vj_contact
			background-size cover !important
			padding $margin4 0

			&__section
				width 40%
				margin 0 auto $margin1
				text-align center
				
				&:first-of-type
					bannerSerif($white)
				
				&--title
					subHeader($white)
				
				&--copy
					bodyCopy($white)

@media all and (max-width:$mobile)
	.page-template-template-contact
		.vj_contact
			&__section
				width 90% !important
				
			a[href^="tel:"]
				color $white !important
				font-weight 600