.vj_footer
	background #000
	color #fff
	
	&__row
		&:first-of-type
			text-align center
			
			&>ul,
			&>div
				display inline-block
				vertical-align top
			
			.vj_footer
				&__designcredit
					text-align left
				
				&__menu
					margin-left 50px
					
					&--navigation
						text-align left
						column-count 4
						column-gap 50px
		
		&:last-of-type
			&>ul,
			&>div
				display inline-block
				vertical-align top
				width 40%
				
			.vj_footer
				&__paymenticons
					li
						display inline

				&__devcredit
					text-align right