.vj_footer
	padding $margin2 0
	background #000
	color #fff
	text-align center
	
	&__menu
		width 90%
		margin auto
		
		&--navigation
			li
				display inline-block
				margin 0 20px
	
				a
					interactive($white,1.4rem)
					font-weight 600 !important
					letter-spacing 0.1rem !important
	
	&__credits
		margin $margin1 auto
		interactive($white,1.2rem)
		font-weight 100 !important
		text-transform initial
		line-height 1.38rem

@media all and (max-width:$mobile)
	.vj_footer
		&__menu
			&--navigation
				column-count 1
				column-gap 0