.vj_footer
	padding $margin2 0
	background #000
	color #fff
	text-align center
	
	&__menu
		width 90%
		margin auto
		
		&--navigation
			column-count 4
			column-gap 50px
			
			a
				interactive($white,1.6rem)
				
	&__paymenticons
		margin $margin1 0
		
		li
			display inline
			font-size 3rem
			margin 2.5px
	
	&__credits
		margin-bottom 15px
		interactive($white,1.2rem)
		font-weight 100 !important
		text-transform initial
		line-height 1.38rem