.vj_header
	z-index 10
	position fixed
	top 0
	left 0
	width 100%
	padding 10px
	
	&>div
		vertical-align middle
	
	&__logo
		display inline-block
		height 65px
		
		&--image
			height 100%
			width auto
	
	&__menu
		display inline-block
		
		&--navigation
			li
				display inline
				margin 0 0 0 20px