.vj_header
	z-index 10
	position fixed
	top 0
	left 0
	width 100%
	padding 10px
	
	&__wrapper
		position relative

		&>div
			vertical-align middle
		
		form
			verticalAlign(50%,0,0,-50%)
			right 0 !important
			left initial !important
			
			input
				&[type="search"]
					resetButtonStyles($white)
					interactive($white,1.4rem)
					border-bottom 1px solid $white
					padding-bottom 3px
					margin-right 15px
					cursor text
					
					&::placeholder
						color $white
			
				&[type="submit"]
					resetButtonStyles($white)
					interactive($white,1.4rem)
					letter-spacing 0.1rem
					font-weight 600
					background $blue
					padding 5px 15px
	
	&__logo
		display inline-block
		height 65px
		transition .2s height ease-in-out
		
		&--image1
			height 100%
			width auto
		
		&--image2
			display none
	
	&__menu
		display inline-block
		
		&--navigation
			li
				display inline
				margin 0 0 0 20px
				
				a
					interactive($white,1.4rem)
					font-weight 600 !important
					letter-spacing 0.1rem !important
	
	&__mobilemenu
		display none
	
	&.minimize
		background rgba(255,255,255,.98)
		box-shadow 0 0 20px rgba(0,0,0,.33)
		
		.vj_header
			&__wrapper
				form
					input[type="search"]
						color $black
						border-bottom 1px solid $black
						
						&::placeholder
							color $black !important
							
			&__logo
				height 35px
				
				&--image1
					display none
				
				&--image2
					display block
					height 100%
					width auto
			
			&__menu
				&--navigation
					li
						a
							color $black !important
	
	#vj_header__menutoggle
		display none
	
@media all and (max-width:$desktopM)
	.vj_header
		&__wrapper
			form
				display none
				
		&__logo
			height 35px
			
			&--image
				width auto
				height 100%

		&__menu
			display none
		
		&__mobilemenu
			display block
			position fixed
			top 0
			right -100%
			width 33%
			height 100%
			background rgba(255,255,255,.98)
			box-sizing border-box
			padding 30px
			transition .2s right ease-in-out
			box-shadow 0 0 20px rgba(0,0,0,.33)
			
			&--navigation
				li
					margin-bottom 15px
					
					a
						interactive($black,1.4rem)
						font-weight 600 !important
						letter-spacing 0.1rem !important
			
			&.open
				right 0
		
		&.minimize
			#vj_header__menutoggle
				color $black !important
				
		#vj_header__menutoggle
			display block
			position fixed
			top 16px
			right 10px
			z-index 15
			resetButtonStyles($white)
			font-size 2.1rem
			
			&.open
				color $black !important
				
@media all and (max-width:$mobile)
	.vj_header
		&__mobilemenu
			width 70%