.vj_header
	z-index 10
	position fixed
	top 0
	left 0
	width 100%
	padding 10px
	
	&>div
		vertical-align middle
	
	&__logo
		display inline-block
		height 65px
		transition .2s height ease-in-out
		
		&--image
			height 100%
			width auto
	
	&__menu
		display inline-block
		
		&--navigation
			li
				display inline
				margin 0 0 0 20px
				
				a
					interactive($white,1.4rem)
					font-weight 600 !important
					letter-spacing 0.1rem !important
	
	&.minimize
		background rgba(255,255,255,.98)
		
		.vj_header
			&__logo
				height 35px
			
			&__menu
				&--navigation
					li
						a
							color $black !important

@media all and (max-width:$mobile)
	.vj_header
		&__logo
			width 20%
			height initial
			
			&--image
				width 100%
				height auto
		
		&__menu
			width 78%
			
			&--navigation
				white-space nowrap
				overflow-x scroll
				