body
	&.search
		padding-top 85px
		
		.vj_header
			&__menu
				&--navigation
					li
						a
							color $black !important


		.vj_search
			width 90%
			margin 0 auto $margin3
			text-align center
			
			header
				margin $margin1 auto
				blockHeader($black)
				
			&__result
				a
					subHeader($blue)
			
			.entry-content
				subHeader($black)