body
	&.page-template-template-services
		.vj_bannerimage
			margin-bottom $margin2
		
		.vj_banner
			margin-top $margin2

			&__content
				background $red
		
		.vj_contact
			&__section
				color $white
				
				&--title,
				&--copy
					color $white

@media all and (max-width:$mobile)
	body
		&.page-template-template-services
			.vj_contact
				background-position right
				
				&__section
					width 90%
					margin-left auto
					margin-right auto
					text-align center