body
	&.single-product
		padding-top 85px

		.vj_header
			&__wrapper
					form
						input[type="search"]
							interactive($black,1.4rem)
							border-bottom 1px solid $black
						
							&::placeholder
								color $black
							
				&__logo
					&--image1
						display none !important
					
					&--image2
						display block !important
						height 100%
						width auto
		
		main
			.woocommerce
				&-breadcrumb
					width 90%
					margin $margin2 auto 0
					interactive($black,1.2rem)
					font-weight 600
					
					a
						interactive($black,1.2rem)
						font-weight 200
				
				&-notices-wrapper
					margin $margin1 auto
					width 90%
					interactive($black,1.6rem)
					// font-weight 200
					
					a
						interactive($white,1.6rem)
						font-weight 600
						background $blue
						padding 5px 15px
						margin-right 15px
			
			.product
				width 90%
				margin auto
				
				.vj_product						
					&__images
						float left
						width 60%
						
						&.no-image
							padding-bottom 40%
							background $lightgrey
						
						&--navigation
							float left
							width 15%
							border-right 3px solid $white
							box-sizing border-box
							
							img
								width 100%
								margin-bottom 1px
								
								&:hover
									cursor pointer
							
						&--main
							float left
							width 85%
							
							&.no-gallery
								width 100%
						
						.clear
							clear both
					
					&__summary
						float left
						width 37%
						padding-left 3%
						bodyCopySmall($black)
						
						h1
							blockHeader($black)
							line-height 4.6rem
						
						.vj_product__price
							margin $margin1 0
							text-transform uppercase
							font-weight 600
						
						.woocommerce-product-details__attributes
							padding-left $margin1
							margin-bottom $margin1
							
							li
								list-style disc
								
								a
									interactive($black,1.6rem)
									text-transform initial
									font-weight 600
						
						.input-text.qty
							border 0
							border-bottom 2px solid $black
							interactive($black,1.6rem)
							text-align center
							
							&:focus
								outline none
								
						.woocommerce-product-details__short-description
							margin-bottom $margin1
						
						.single_add_to_cart_button
							resetButtonStyles($black)
							linkStyles($white,$blue)
							margin-left 0
							margin-right auto
							
						.product_meta
							margin-top $margin1
							
							a
								interactive($black,1.6rem)
								font-weight 600
					
					.clear
						clear both
				
				.vj_products
					width 100%
					margin $margin2 0 $margin4
					text-align center
					
					h3
						blockHeader($black)
						margin-bottom $margin1
					
					&__thumbnail
						width 24%

@media all and (max-width:$desktopM)
	body
		&.single-product
			#vj_header__menutoggle
				color $black	

@media all and (max-width:$mobile)
	body
		&.single-product
			padding-top $margin1
				
			main
				.product
					.vj_product
						&__images
							width 90%
							margin auto
							float none
							
						&__summary
							width 90%
							margin $margin1 auto 0
							float none
							padding-left 0
						
					.vj_products
						&__thumbnail
							width 48%
						
						&__title
							margin-bottom $margin1