body
	&.single
		.vj_header
			&__menu
				&--navigation
					li
						a
							color $black !important
		
		.vj_single
			width 90%
			max-width 1080px
			margin $margin4 auto
			
			h1
				display block
				width 100%
				max-width 75%
				margin auto
				bannerSerif($black)
				font-size 5rem !important
				line-height 5.75rem !important
				text-align center
			
			&__publishdate
				margin $margin1 0
				text-align center
				bodyCopy($black)
			
			&__sharethis
				margin-bottom $margin1
				interactive($black,1.6rem)
				text-align center
				
				span
					margin 0 15px 0 0
					
					&:last-of-type
						margin-right 0
				
				a
					color $black
					text-decoration none
			
			p
				margin 0 auto $margin1
				max-width 640px
				bodyCopy($black)
				
				img
					width 100%
					height auto
			
				&.iframe-wrapper
					max-width none
					overflow hidden
					padding-top 56.25%
					position relative
					
					iframe
						border 0
						height 100%
						left 0
						position absolute
						top 0
						width 100%
			
			&>img
				width 100%
				height auto
				margin-bottom $margin1

@media all and (max-width:$mobile)
	body
		&.single
			.vj_single
				h1
					font-size 3rem !important
					line-height 3.45rem !important