body
	&.page-template-template-sustainability
		.vj_bannerimage
			text-align center
			
			h1
				bannerHeader()
				font-size 5rem !important
			
				span
					bannerSerif($white)
					text-transform initial !important
		
		.vj_footer
			margin-top $margin1