body
	&.page-template-template-sustainability
		.vj_bannerimage
			text-align center
			
			h1
				bannerHeader()
				font-size 6rem !important
			
				span
					bannerSerif($white)
					text-transform initial !important
		
		.vj_footer
			margin-top $margin1

@media all and (max-width:$mobile)
	body
		&.page-template-template-sustainability
			.vj_bannerimage
				h1
					font-size 4rem !important
