@require 'components/vars'
@require 'components/banner-image'
@require 'components/banner-videos'
@require 'components/collection'
@require 'components/content-banner'
@require 'components/executive-summary'
@require 'components/featured-icons'
@require 'components/featured-services'
@require 'components/team-members'
@require 'components/contact'
@require 'components/service'
@require 'components/offerings'