.vj_bannerimage
	position relative
	height 75vh
	background-position center center
	background-size cover
	background-attachment fixed
	
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(0,0,0,.25)

	&__text
		bannerHeader()
		verticalAlign(50%,50%,-50%,-50%)
		
		strong
			font-weight 600

@media all and (max-width:$mobile)
	.vj_bannerimage
		background-attachment initial
		
		&__text
			width 90%
			margin auto
			text-align center