.vj_bannerimage
	position relative
	height 75vh
	background-position center center
	background-size cover
	background-attachment fixed

	&__text
		bannerHeader()
		verticalAlign(50%,50%,-50%,-50%)
		
		strong
			font-weight 600