.vj_video
	position relative
	width 100%
	height 100vh
	overflow hidden
	white-space nowrap
	font-size 0 /* override space between inline child elements */
	
	&__slide
		display inline-block
		width 100%
		height 100%
		position relative
		overflow hidden
		font-size initial /* reset font-size for child elements */
		cursor pointer
		background $black
		
		&--text
			z-index 5
			position absolute
			verticalAlign(50%,50%,-50%,-50%)
			text-align center
			bannerHeader()
			text-shadow 0 0 20px $black
			
			strong
				font-weight 600
			
			i
				font-weight 100
				font-size 6rem
				margin-top $margin1
			
		&--player
			position absolute
			width 100%
			verticalAlign(50%,50%,-50%,-50%)
			object-fit cover
			
			&.playing			
				object-fit contain
	
	&__controls
		&--leftnav
			position absolute
			z-index 9
			font-size 6rem
			font-weight 1001
			verticalAlign(50%,3%,0,-50%)
			resetButtonStyles($white)				

		&--rightnav
			position absolute
			z-index 9
			font-size 6rem
			font-weight 1001
			verticalAlign(50%,auto,0,-50%)
			right 3%
			resetButtonStyles($white)

@media all and (max-width:$mobile)
	.vj_video
		height 60vh
		
		&__slide
			&--text
				bannerHeaderMobile()
			
			&--player
				height 100%
				width auto
		
		&__controls
			&--leftnav,
			&--rightnav
				font-size 3rem