.vj_collection
	text-align center
	
	h1
		margin $margin4 0 $margin1
		sectionHeader($black)
		
		strong
			font-weight 600

	.vj_products
		max-width 1180px
		
		&__thumbnail
			width 33%
	
	&__more
		linkStyles($white,$black)
		margin-bottom $margin4