.vj_banner
	position relative
	height 75vh

	&.with-image
		background-position center center !important
		background-size cover !important
	
	&__content
		position absolute
		width 90%
		max-width 600px
		verticalAlign(50%,50%,-50%,-50%)
		text-align center
		background $black
		padding $margin2 $margin1
		
		&--header
			blockHeader($white)
			font-family $serif
		
		&--copy
			margin-top $margin1
			bodyCopy($white)
		
		&--link
			linkStyles($black,$white)