.vj_banner
	position relative
	height 75vh

	&.with-image
		background-position center center !important
		background-size cover !important
		background-attachment fixed !important
	
	&__content
		position absolute
		width 90%
		max-width 620px
		verticalAlign(50%,50%,-50%,-50%)
		text-align center
		background $black
		padding $margin2
		
		&--header
			blockHeader($white)
			font-family $serif
		
		&--copy
			margin-top $margin1
			bodyCopy($white)
		
		&--link
			linkStyles($black,$white)

@media all and (max-width:$mobile)
	.vj_banner
		&__content
			&--copy
				bodyCopySmall($white)