.vj_summary
	position relative
	height 75vh
	
	&.with-image
		background-position center center !important
		background-size cover !important
	
	&__content
		position absolute
		verticalAlign(50%,50%,-50%,-50%)
		text-align center