.vj_icons
	padding $margin4 0
	text-align center

	&__header
		sectionHeader($black)
		margin-bottom $margin2
		
		strong
			font-weight 600
	
	.vj_icon
		display inline-block
		width 70%
		max-width 100px
		margin 0 $margin1
		vertical-align top
		
		img
			width 100%
			height auto
		
		p
			position relative
			margin-top $margin1
			bodyCopySmall($black)
			font-weight 600
			text-transform uppercase
			
			&:before
				content ''
				width 30px
				height 4px
				background $black
				verticalAlign(-16px,50%,-50%,0)

@media all and (max-width:$mobile)
	.vj_icons
		padding $margin1 0
		
		.vj_icon
			margin $margin1

@media all and (min-width:$bigscreen)
	.vj_icons
		.vj_icon
			margin 0 $margin2