.vj_featured-services
	.vj_featured-service	
		&__content
			position relative
			width 50%
			float left
			text-align center
			padding-bottom 50%
			background $grey
			
			&--body
				width 90%
				max-width 450px
				verticalAlign(50%,50%,-50%,-50%)
				
				h3
					sectionHeader($black)
				
				p
					margin-top $margin1
					bodyCopy($black)
				
				a
					linkStyles($white,$blue)
			
		&__image
			background-size cover !important
			width 50%
			float left
			padding-bottom 50%
		
		.clear 
			clear both
		
		&:nth-of-type(2n)
			.vj_featured-service
				&__content,
				&__image
					float right

@media all and (max-width:$mobile)
	.vj_featured-services
		.vj_featured-service
			&__content
				width 100% !important
				float none !important
				padding 10% 0
				
				&--body
					position relative
					transform none
					top initial
					left initial
					margin auto
				
			&__image
				width 100% !important
				float none !important