.vj_services
	.vj_service	
		&__content
			position relative
			width 50%
			float left
			text-align center
			
		&__image
			width 50%
			float left
			padding-bottom 50%
		
		.clear 
			clear both
		
		&:nth-of-type(2n)
			.vj_service
				&__content,
				&__image
					float right