.vj_icons
	padding $margin4 0
	text-align center

	&__header
		sectionHeader($black)
		margin-bottom $margin2
		
		strong
			font-weight 600
	
	.vj_icon
		display inline-block
		width 70%
		max-width 125px
		margin 0 $margin2
		vertical-align middle
		
		img
			width 100%
			height auto
		
		p
			position relative
			margin-top $margin1
			bodyCopy($black)
			font-weight 600
			text-transform uppercase
			
			&:before
				content ''
				width 30px
				height 3px
				background $black
				verticalAlign(-10px,50%,-50%,0)

@media all and (max-width:$mobile)
	.vj_icons
		.vj_icon
			display block
			margin $margin3 auto 0
			
			&:first-of-type
				margin-top 0