.vj_offerings
	width 90%
	max-width 950px
	margin $margin2 auto
	text-align center
	
	&__title
		sectionHeader($black)
		
		strong
			font-weight 600
	
	&__subheader
		margin $margin1 auto
		bodyCopy($black)
	
	&__list
		// columns 3
		// column-gap 15px
		
		li
			display inline-block
			width 31.5%
			background $beige
			padding $margin1 15px
			margin 0 .75% 15px .75%
			vertical-align top
						
			img
				margin-bottom 25px
			
			.vj_item
				&--count
					position relative
					subHeader($white)
					font-size 4rem
					
					&:before
						content ''
						width $margin1
						height 5px
						background $white
						verticalAlign(-10px,50%,-50%,0)
					
				&--title
					subHeader($black)
				
				&--copy
					bodyCopySmall($black)
					line-height 2.7rem

@media all and (max-width:$mobile)
	.vj_offerings
		&__list			
			li
				width 100%