.vj_blogpreview
	margin-top $margin1
	
	&__wrapper
		width 90%
		max-width 980px
		margin auto
	
	a
		text-decoration none
	
	&__image
		float left
		width 60%
		padding-bottom 50%
		background-size cover
		background-position center center
		background-repeat no-repeat
		position relative
		
		i
			verticalAlign(50%,50%,-50%,-50%)
			font-weight 100
			font-size 6rem
			color $white
	
	&__text
		float left
		width 40%
		position relative
		padding-bottom 50%
		
		&--copy
			verticalAlign(50%,0,-5%,-50%)
			background $white
			box-sizing border-box
			padding $margin1
			
			h1
				position relative
				width 90%
				blockHeader($black)
				
				&:before
					content ''
					position absolute
					top -15px
					width 66px
					height 4px
					background $black
			
			p
				margin $margin1 0
				bodyCopySmall($black)
				line-height 2.5rem !important
			
			div
				display block
				text-align right
				interactive($black,1.2rem)
				font-weight 600
	
	&:first-of-type
		.vj_blogpreview
			&__text
				&--copy
					h1
						&:before
							display none
							
					p
						bodyCopy($black)
						line-height 3.15rem !important
	
	&:nth-of-type(4n+1)
		width 100%
		
		.vj_blogpreview
			&__text
				&--copy
					h1
						&:before
							display none

	&:nth-of-type(4n+2)
		width 30%
		display inline-block
		vertical-align top
		overflow hidden
		
		.vj_blogpreview
			&__image
				float none
				width 100%
				padding-bottom 100%
				
			&__text
				float none
				width 100%
				margin-top 15px
				padding-bottom 0
				
				&--copy
					verticalAlign(0,0,0,0)
					position relative
	
	&:nth-of-type(4n+3)
		width 66.65%
		margin-left 3%
		display inline-block
		vertical-align top
		overflow hidden
		
		.vj_blogpreview
			&__image
				float none
				width 100%
				padding-bottom 60%
				
			&__text
				float none
				width 90%
				margin-top 15px
				padding-bottom 0
				
				&--copy
					verticalAlign(0,0,0,0)
					position relative
			
	&:nth-of-type(4n+4)
		width 100%
		
		.vj_blogpreview
			&__image
				float right
				
			&__text
				float right
				left 5% !important
					
	.clear
		clear both

@media all and (max-width:$desktopSustainability)
	.vj_blogpreview
		&__image
			float none
			width 100%
			
		&__text
			float none
			width 100%
			border-bottom 1px solid $black
			padding 0
		
			&--copy
				verticalAlign(0,0,0,0)
				position relative
				
				h1
					&:before
						display none
		
		.clear
			display none
		
		&:nth-of-type(4n+2),
		&:nth-of-type(4n+3)
			width 100%
			display inline-block
			margin-left 0
				
			.vj_blogpreview				
				&__image
					width 100%
					padding-bottom 50%
					
				&__text
					width 100%
					margin-top 0
		
		&:nth-of-type(4n+4)
			.vj_blogpreview
				&__image
					float none
				
				&__text
					float none
					text-align left
					left 0 !important
					
					h1
						text-align left
						margin-right auto
			