.vj_team
	padding $margin4 0
	text-align center
	
	&__title
		sectionHeader($black)
		text-align center
		margin-bottom $margin1
		
		strong
			font-weight 600
	
	&__member
		display inline-block
		width 50%
		max-width 690px
		vertical-align top
		padding $margin1
		box-sizing border-box
		bodyCopySmall($black)
		text-align left
		
		&--title
			font-weight 600
		
		&--name
			margin 5px 0
			subHeader($black)
		
		&--bio
			font-weight 600

@media all and (max-width:$mobile)
	.vj_team
		&__member
			width 100%