html
	font-size 62.5%

$white = #ffffff
$serif = 'Playfair Display', serif
$sans_serif = 'Source Sans Pro', sans-serif

// h1 - sans_serif (carousels)
// h2 - serif (banner headers)
// h3 - sans_serif (content block headers)
// h4 - sans_serif (repeater section headers / pullquotes on what we do)
// splash copy - serif (big text)
// splash copy - sans_serif (big text)
// body copy - sans_serif (paragraph)
// interactive copy - header and foot navigation (color should be variable)

interactive(a)
	font-family $sans_serif
	color a
	text-decoration none
	text-transform uppercase
	font-size 1.6rem

verticalAlign(a,b,c,d)
	position absolute
	top a
	left b
	transform translate(c,d)

resetButtonStyles()
	border 0
	outline 0
	background none
	margin 0
	padding 0